In [268]:
pip install -U imblearn

Requirement already up-to-date: imblearn in c:\programdata\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: imbalanced-learn in c:\programdata\anaconda3\lib\site-packages (from imblearn) (0.8.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.17.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.19.2)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.24 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [269]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(style="ticks")

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier

from typing import Dict, Tuple

from sklearn.metrics import accuracy_score, balanced_accuracy_score

In [270]:
data = pd.read_csv('data/StudentsPerformance.csv', sep=",")

In [271]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [272]:
data['Average_score'] = data[['math score', 'reading score', 'writing score']].mean(axis=1)
data.drop(columns=['math score', 'reading score', 'writing score'], inplace=True)

In [273]:
data = pd.get_dummies(data, columns = ['test preparation course'])
data.head()

,gender,race/ethnicity,parental level of education,lunch,Average_score,test preparation course_completed,test preparation course_none
0,female,group B,bachelor's degree,standard,72.666667,0,1
1,female,group C,some college,standard,82.333333,1,0
2,female,group B,master's degree,standard,92.666667,0,1
3,male,group A,associate's degree,free/reduced,49.333333,0,1
4,male,group C,some college,standard,76.333333,0,1

In [274]:
data['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [275]:
le = LabelEncoder()
data['lunch'] = le.fit_transform(data['lunch'])

In [276]:
data_X = data[['Average_score', 'race/ethnicity']]
data_Y = data['lunch']

In [277]:
data_X = pd.get_dummies(data_X, columns = ['race/ethnicity'])

In [278]:
#from imblearn.under_sampling import TomekLinks

In [279]:
#tl = TomekLinks()

In [280]:
data_Y.value_counts()

1    645
0    355
Name: lunch, dtype: int64

In [281]:
data_X_train, data_X_test, data_Y_train, data_Y_test = train_test_split(data_X, data_Y, \
                                                                        test_size=0.2, random_state=1)

In [282]:
#data_X, data_Y = tl.fit_resample(data_X, data_Y)
from imblearn.under_sampling import RandomUnderSampler

sampling_strategy = 0.8
rus = RandomUnderSampler(sampling_strategy=sampling_strategy)
data_X_train, data_Y_train = rus.fit_resample(data_X_train, data_Y_train)

In [283]:
data_Y_train.value_counts()

1    351
0    281
Name: lunch, dtype: int64

In [284]:
knc_1 = KNeighborsClassifier(n_neighbors=3)
knc_1.fit(data_X_train, data_Y_train)
target_1 = knc_1.predict(data_X_test)

In [285]:
balanced_accuracy_score(data_Y_test, target_1)

0.5765765765765766

In [286]:
def accuracy_score_for_classes(
    y_true: np.ndarray, 
    y_pred: np.ndarray) -> Dict[int, float]:
    """
    Вычисление метрики accuracy для каждого класса
    y_true - истинные значения классов
    y_pred - предсказанные значения классов
    Возвращает словарь: ключ - метка класса, 
    значение - Accuracy для данного класса
    """
    # Для удобства фильтрации сформируем Pandas DataFrame 
    d = {'t': y_true, 'p': y_pred}
    df = pd.DataFrame(data=d)
    # Метки классов
    classes = np.unique(y_true)
    # Результирующий словарь
    res = dict()
    # Перебор меток классов
    for c in classes:
        # отфильтруем данные, которые соответствуют 
        # текущей метке класса в истинных значениях
        temp_data_flt = df[df['t']==c]
        # расчет accuracy для заданной метки класса
        temp_acc = balanced_accuracy_score(
            temp_data_flt['t'].values, 
            temp_data_flt['p'].values)
        # сохранение результата в словарь
        res[c] = temp_acc
    return res

def print_accuracy_score_for_classes(
    y_true: np.ndarray, 
    y_pred: np.ndarray):
    """
    Вывод метрики accuracy для каждого класса
    """
    accs = accuracy_score_for_classes(y_true, y_pred)
    if len(accs)>0:
        print('Метка \t Accuracy')
    for i in accs:
        print('{} \t {}'.format(i, accs[i]))

In [287]:
print_accuracy_score_for_classes(data_Y_test, target_1)

Метка 	 Accuracy
0 	 0.4864864864864865
1 	 0.6666666666666666

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1850: UserWarning: y_pred contains classes not in y_true
  warnings.warn('y_pred contains classes not in y_true')
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1850: UserWarning: y_pred contains classes not in y_true
  warnings.warn('y_pred contains classes not in y_true')